/* COMMON STYLE SHEET FOR ALL TOOLS*/
/* Her our style will affect ALL TOOLS */



/*************************/
/* PLUGIN MAIN CONTAINER */
/*************************/

.olt-container {
  /* You can define here the colors for the chart rows and cells */
  --chart-input-backgroud-color: blanchedalmond;
  --chart-result-backgroud-color: lightgreen;
  --chart-info-backgroud-color: lightgrey;
}

.olt-container {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-size: 62.5%;  */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
/*************************/


/*********/
/* TITLE */
/*********/
.olt-title {
  color: red;
  text-align: center;
}
/*********/


/********************/
/* PDF ILLUSTRATION */
/********************/
.olt-pdf-iframe {
  height: 30vh;
  margin: 5rem 0;
}
/********************/


/**********/
/* CHARTS */
/**********/
.olt-table {
  margin: 1rem 0 3rem 0;
}

.olt-value {
  text-align: end;
}

.olt-input-row, .olt-input-cell {
  background-color: var(--chart-input-backgroud-color);
  font-size: 1.6rem;
}

.olt-result-row {
  background-color: var(--chart-result-backgroud-color);
  font-size: 1.6rem;
  font-weight: bold;
}

.olt-info-row {
  background-color: var(chart-info-backgroud-color);
}
/**********/


/****************************/
/* SUBMIT BUTTON "CALCULER" */
/****************************/
.olt-btn-submit {
  background-color: var(--chart-result-backgroud-color);
  border: none;
  box-shadow: none;
}