.olt-title { 
    color: red;
}

.olt-container {
    margin: auto;
    padding: 0;
    box-sizing: border-box; /* forces the div to keep their size if padding applied */
    text-decoration: none;
    font-size: 62.5%; /* 1rem = 10px, pratique pour le calcul */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.olt-wrapper/*, #olt-form1*/ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding: 2rem;
    font-size: 2rem;
}



.olt-wrapper div {
    background-color: lightgrey;
}

.olt-value {
    text-align: end;
}

.olt-wrapper .olt-result {
    background-color: lightgreen;
}

.olt-wrapper .olt-input {
    background-color: blanchedalmond;
}